
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/managers/$(request.auth.uid));
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if isOwner(userId) || isAdmin();
    }
    
    match /users/{userId}/transactions/{transactionId} {
        allow read, write: if isOwner(userId);
    }

    match /managers/{managerId} {
        allow read, write: if isAdmin();
    }

    match /products/{productId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /categories/{categoryId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /subscriptions/{subscriptionId} {
      allow read: if isOwner(resource.data.userId) || isAdmin();
      allow write: if isAdmin();
    }

    match /orders/{orderId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin();
    }

    match /cardLinkRequests/{requestId} {
        allow read, write: if isOwner(request.resource.data.requesterId) || isOwner(request.resource.data.ownerId);
        allow create: if isOwner(request.resource.data.requesterId);
    }

    match /banners/{bannerId} {
        allow read: if request.auth != null;
        allow write: if isAdmin();
    }

    match /rechargeCards/{cardId} {
        allow create, delete: if isAdmin();
        // Allow any authenticated user to "use" a card by updating it, but only if it's not already used.
        allow update: if request.auth != null && !resource.data.isUsed;
        allow read: if isAdmin();
    }
  }
}
